button {
	color: black;
}

button:hover {
	cursor: pointer;
}

.ages-buttons {
	margin-top: 10px;
	margin-bottom: 10px;
}
#republic {
	background-color: yellow;
}

#rebellion {
	background-color: skyblue;
}

#resistance {
	background-color: red;
}
