body {
	margin: 0;
	padding: 0;
	margin-top: 0;
	max-height: 100vh;
}

.header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.sw-logo {
	margin-top: 2px;
	width: 315px;
	height: 135px;
}
.sw-timeline {
	margin-top: 0px;
	width: 120px;
	height: 40px;
}

@font-face {
	font-family: 'Star Jedi';
	src: url("//db.onlinewebfonts.com/t/af7c07faaff0d16720c25db7990579e2.woff"), format('woff');
}

h1 {
	font-family: 'Starjedi';
	font-weight: 200;
	color: yellow;
}
